abbrev_defs
ac-comphist.dat
/auto-save-list
/elpa
/emacs_config
/eshell
/jdee-server
mijail.el
/myJars
/semanticdb
/snippets
*~
/url
.emacs.desktop
.emacs.desktop.lock
network-security.data
recentf
session.*
